In [1]:
import pandas as pd
import numpy as np

In [2]:
#tworzenie serii
dataseries = pd.Series([10,21,34,43,56,63,102],name='dane',index=['a','b','c','d','x','y','z'])
dataseries

In [5]:
data_dict = {
    'imię':['Jan','Arleta','Marian','Ludwik','Maria'],
    'wiek':[34,26,44,78,50],
    'miasto':['Kraków','Kraków','Toruń','Lublin','Katowice']
}

In [6]:
dataframe = pd.DataFrame(data_dict,index=['A','B','C','D','E'])
dataframe

,imię,wiek,miasto
A,Jan,34,Kraków
B,Arleta,26,Kraków
C,Marian,44,Toruń
D,Ludwik,78,Lublin
E,Maria,50,Katowice

In [7]:
type(dataframe)

pandas.core.frame.DataFrame

In [8]:
macierz = dataframe.to_numpy()
macierz

In [9]:
type(macierz)

numpy.ndarray

In [10]:
!cat dane/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
!ls -l

total 3
drwxr-xr-x 2 datalore datalore 1064 Dec 16 12:42 dane
-rw-r--r-- 1 datalore datalore  110 Dec 16 12:29 environment.yml
drwx------ 2 datalore datalore   64 Dec 16 12:30 lost+found

In [12]:
df = pd.read_csv('dane/ex1.csv')
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
!cat dane/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [15]:
names = ['A','B','C','D','informacja']
df2 = pd.read_csv('dane/ex2.csv',names=names,index_col='informacja')
df2

,A,B,C,D
informacja,,,,
hello,1,2,3,4
world,5,6,7,8
foo,9,10,11,12

In [16]:
!cat dane/ex4.csv

# Cześć!
a,b,c,d,message
# Chciałem tylko trochę utrudnić Twoją pracę.
# Kto w ogóle wczytuje pliki CSV za pomocą komputera?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [17]:
df3 = pd.read_csv('dane/ex4.csv',skiprows=[0,2,3])
df3

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [18]:
danew = pd.read_csv('dane/ex5.csv',index_col=['message'])
danew

,something,a,b,c,d
message,,,,,
NaN,one,1,2,3.0,4
world,two,5,6,NaN,8
foo,three,9,10,11.0,12

In [19]:
danew['f'] = [124,66,312]
danew

,something,a,b,c,d,f
message,,,,,,
NaN,one,1,2,3.0,4,124
world,two,5,6,NaN,8,66
foo,three,9,10,11.0,12,312

In [20]:
danew.to_csv('dane/superex5.csv')

In [21]:
danew.to_html('dane/superex5.html')

In [23]:
mydict = danew.to_dict('dane/mojedict')

<ipython-input-23-3c5fa66e2645>:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  mydict = danew.to_dict('dane/mojedict')

In [24]:
mydict

{'something': {nan: 'one', 'world': 'two', 'foo': 'three'},
 'a': {nan: 1, 'world': 5, 'foo': 9},
 'b': {nan: 2, 'world': 6, 'foo': 10},
 'c': {nan: 3.0, 'world': nan, 'foo': 11.0},
 'd': {nan: 4, 'world': 8, 'foo': 12},
 'f': {nan: 124, 'world': 66, 'foo': 312}}

In [25]:
df = pd.read_pickle('dane/yahoo_price.pkl')
df

,AAPL,GOOG,IBM,MSFT
Date,,,,
2010-01-04,27.990226,313.062468,113.304536,25.884104
2010-01-05,28.038618,311.683844,111.935822,25.892466
2010-01-06,27.592626,303.826685,111.208683,25.733566
2010-01-07,27.541619,296.753749,110.823732,25.465944
2010-01-08,27.724725,300.709808,111.935822,25.641571
...,...,...,...,...
2016-10-17,117.550003,779.960022,154.770004,57.220001
2016-10-18,117.470001,795.260010,150.720001,57.660000
2016-10-19,117.120003,801.500000,151.259995,57.529999
2016-10-20,117.059998,796.969971,151.520004,57.250000
2016-10-21,116.599998,799.369995,149.630005,59.660000